<h3>Admin: </h3>
<form name="exch" action="/admin/addexchange"  method="post"> 
<h4>Exchanges</h4>
<div class="mb-3">
    <label for="exchname" class="form-label">Enter name: </label>
    <input type="text" class="form-control" name="exchname" >
</div>
<div class="mb-3">
    <label for="exchsite" class="form-label">Enter name: </label>
    <input type="text" class="form-control" name="exchsite" >
</div>
<div class="mb-3">
  <label for="exchapi" class="form-label">Enter api: </label>
  <input type="text" class="form-control" name="exchapi" >
</div>
<button type="submit" name="button" class="btn btn-primary" value="exch">add exchange</button>
</form>

<form id="strategy" action="/admin/addstrategy" method="post"> 
<h4>Startegys</h4>
<div class="mb-3">
  <label for="strname" class="form-label">Enter name: </label>
  <input type="text" class="form-control" name="strname">
</div>
<button form="strategy" type="submit" class="btn btn-primary" name="button" value="str">add strategy</button>
</form>